* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    font-size: 50px;
    text-align: center;
}

.buttonContainer {
    height: 120px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
}

button {
    padding: 8px 20px;
    background-color: rgb(240, 66, 66);
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: hidden;
    cursor: pointer;
}

button:hover {
    background-color: rgb(220, 52, 52);
}

button.disabled {
    background-color: rgb(236, 144, 144);
    cursor: not-allowed;
}

.container {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pieceContainer,
.puzzleContainer {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 0px;
    box-shadow:
        0 -6px 8px -5px rgba(0, 0, 0, .8),
        6px 0 8px -5px rgba(0, 0, 0, .8),
        0 6px 8px -5px rgba(0, 0, 0, .8),
        -6px 0 8px -5px rgba(0, 0, 0, .8);
}

.pieceContainer {
    position: relative;
}

.piece {
    width: 100px;
    height: 100px;
    float: left;
    background-image: url("./liverpool-fc-logo-027452BE2B-seeklogo.com.png");
    background-size: 400px 400px;
}

/* Модальне вікно */
.modal_window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
}

.modal_main {
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 99;
}

.modal_container {
    width: 100%;
    height: 120px;
    border-top: 2px solid rgb(230, 230, 230);
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: auto;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

p{
    font-size: 40px;
    margin-left: 5px;
}

.modal_button {
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
}

#close,
#check {
    height: 50px;
    margin: 0 6px;
    cursor: pointer;
}

#check {
    background-color: rgb(58, 169, 58);
    display: block;
}

.modal_close {
    background-color: transparent;
    border: none;
    font-weight: 300;
    font-size: 20px;
    color: brown;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
}